src/main/resources/META-INF/mule-mongodb.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/mongodb"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc"
            targetNamespace="http://www.mulesoft.org/schema/mule/mongodb"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">


    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/3.0/mule.xsd"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/schemadoc"
                schemaLocation="http://www.mulesoft.org/schema/mule/schemadoc/3.0/mule-schemadoc.xsd"/>

    <xsd:annotation>
        <xsd:documentation>Support for MongoDB</xsd:documentation>
        <xsd:appinfo>
            <schemadoc:short-name>Mongodb</schemadoc:short-name>
            <schemadoc:page-title>Mongodb Transport</schemadoc:page-title>
            <schemadoc:transport-features
                    receiveEvents="true" dispatchEvents="true" responseEvents="true"
                    requestEvents="true"
                    transactions="false" streaming="false">
                <schemadoc:inboundMEPs in-only="${receiver}" in-optional-out="true" in-out="true"/>
                <schemadoc:outboundMEPs out-only="true" out-in="true" out-optional-in="true"/>
            </schemadoc:transport-features>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:element name="connector" type="mongodbConnectorType" substitutionGroup="mule:abstract-connector">
        <xsd:annotation>
            <xsd:documentation>
                Support for MongoDB
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="mongodbConnectorType">
        <xsd:complexContent>
            <xsd:extension base="mule:connectorType">
                <xsd:attribute name="database" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            The name of the db to use
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>

                <xsd:attribute name="hostname" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The MongoDB host
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>

                <xsd:attribute name="port" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The MongoDB port
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>

                <xsd:attribute name="username" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The username to connect with
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>

                <xsd:attribute name="password" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The password to connect with
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>


                <xsd:attribute name="pollingFrequency" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The frequency at which to query the db
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>

            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <!--
    The following define endpoint elements for this transport. Attributes for the endpoint can be defined at the section
    at the bottom
    -->
    <xsd:element name="inbound-endpoint" type="inboundEndpointType" substitutionGroup="mule:abstract-inbound-endpoint"/>

    <xsd:complexType name="inboundEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:inboundEndpointType">
                <xsd:attributeGroup ref="inboundAddressAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="outbound-endpoint" type="outboundEndpointType"
                 substitutionGroup="mule:abstract-outbound-endpoint"/>

    <xsd:complexType name="outboundEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:outboundEndpointType">
                <xsd:attributeGroup ref="outboundAddressAttributes"/>
                <xsd:attributeGroup ref="propertyAttributes"/>

            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="endpoint" type="globalEndpointType" substitutionGroup="mule:abstract-global-endpoint"/>
    <xsd:complexType name="globalEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:globalEndpointType">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:attributeGroup name="outboundAddressAttributes">
        <xsd:attribute name="collection" type="xsd:string"/>
        <xsd:attribute name="bucket" type="xsd:string"/>
    </xsd:attributeGroup>

    <xsd:attributeGroup name="inboundAddressAttributes">
        <xsd:attribute name="collection" type="xsd:string"/>
        <xsd:attribute name="bucket" type="xsd:string"/>
        <xsd:attribute name="query" type="xsd:string"/>
    </xsd:attributeGroup>

    <xsd:attributeGroup name="propertyAttributes">
    </xsd:attributeGroup>

    <xsd:element name="db-file-to-byte-array" type="dbFileToByteArrayTransformerType"
                 substitutionGroup="mule:abstract-transformer">
        <xsd:annotation>
            <xsd:documentation>
                Extract the byte array from a GridFS dbfile
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="dbFileToByteArrayTransformerType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractTransformerType">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="db-file-to-input-stream" type="dbFileToInputStreamTransformerType"
                 substitutionGroup="mule:abstract-transformer">
        <xsd:annotation>
            <xsd:documentation>
                Extract the input stream from a GridFS dbfile
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="dbFileToInputStreamTransformerType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractTransformerType">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>